Таблицы

In [1]:
d = {
    'Колонка_1' : [1, 5, 7, 9],
    'Колонка_2' : ['a', 'b', 'c', 'd'],
    'Колонка_3' : [0.1, 0.67, 0.8, 0.23]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(d)

In [4]:
df

   Колонка_1 Колонка_2  Колонка_3
0          1         a       0.10
1          5         b       0.67
2          7         c       0.80
3          9         d       0.23

In [5]:
df['Колонка_1']

0    1
1    5
2    7
3    9
Name: Колонка_1, dtype: int64

In [6]:
df.loc[1]

Колонка_1       5
Колонка_2       b
Колонка_3    0.67
Name: 1, dtype: object

In [7]:
df[df['Колонка_1'] > 6]

   Колонка_1 Колонка_2  Колонка_3
2          7         c       0.80
3          9         d       0.23

In [8]:
df[(df['Колонка_1'] < 8) & (df['Колонка_3'] > 0.5)]

   Колонка_1 Колонка_2  Колонка_3
1          5         b       0.67
2          7         c       0.80

### Ветвления

![if_schema](images/if_schema.png)

In [9]:
a = 10

if a % 2 == 0:
    print('Чётное')
else:
    print('Нечётное')

Чётное

### Циклы

![for_schema](images/for_schema.png)

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Функции

![def_schema](images/def_schema.png)

In [11]:
def add(x, y):
    res = x + y
    return res

b = 10
c = add(b, 12)
print(c)

22

# Задания

1. Создать перемненные целых и действительных чисел
2. Вывести их на экран
3. Поместить результат их сложения \ умножения \ деления в отдельную переменную и вывести её на экран
4. Создать две строки и вывести на экран их одну за другой через пробел
5. Создать список действительных чисел и в цикле вывести на экран только чётные числа из этого спика
6. Подключить библиотеку Pandas
7. Создать словарь c ключами-строками и значениями-списками с действительными элементами и создать из него таблицу, вывести на экран вторую колонку этой таблицы