# F-строки

Иногда у нас возникает потребность в конструированиии строк из других переменных, например:

In [16]:
name = "Василий"
age = 46
print("Меня зовут " + name + ". Мне " + str(age) + " лет.")

Меня зовут Василий. Мне 46 лет.

Однако предложенный выше способ крайне громоздкий и сложночитаемый. Кроме того, он не эффективен по производительности.

Более простое и элегантное решение: f-строки

In [17]:
print(f"Меня зовут {name}. Мне {age} лет.")

Меня зовут Василий. Мне 46 лет.

Мы пишем обычную строку, перед которой ставим символ "f", а внутри строки, в фигурных скобках, пишем имя переменной, которую хотим добавить в строку на это место

Усли нам внезапно потребуется использовать внутри f-строки символы фигурных скобок, то просто пишем их дважды:

In [21]:
print(f'Я всё ещё {name}, вот вам фигурная скобка: {{')
print(f'И ещё одна: }}')
print(f'И сразу две: {{}}')

Я всё ещё Василий, вот вам фигурная скобка: {
И ещё одна: }
И сразу две: {}

f-строки могут быть удобны для того, чтобы менять выводимый текст в цикле:

In [22]:
for i in range(0, 10):
    print(f'{2} в {i}-ой степени равняется {2 ** i}')

2 в 0-ой степени равняется 1
2 в 1-ой степени равняется 2
2 в 2-ой степени равняется 4
2 в 3-ой степени равняется 8
2 в 4-ой степени равняется 16
2 в 5-ой степени равняется 32
2 в 6-ой степени равняется 64
2 в 7-ой степени равняется 128
2 в 8-ой степени равняется 256
2 в 9-ой степени равняется 512

# Списковые включения (List comprehension)

Иногда нам потребуется создавать списки или словари, с элементами, заданными по одному и тому же правилу — например список имён колонок, отличающихся только номером:

Мы можем это сделать следующим образом:

In [23]:
columns = []                    # Создаём пустой список columns,
for i in range(1, 6):           # а затем в цикле от 1 до 6 (не включая 6)
    columns.append(f'D{i}')     # добавляем в конец списка columns, строки с текстом 'D1', 'D2', ...,  'D5'.

print(columns)

['D1', 'D2', 'D3', 'D4', 'D5']

Однако на создание простого списка, мы потратили целых три строки. Это длинно и неудобно.

Куда более простой способ создавать списки по правилам: Списковые включения (list comprehensions)!

In [24]:
columns = [f'D{i}' for i in range(1, 6)]
print(columns)

['D1', 'D2', 'D3', 'D4', 'D5']

Как мы видим, результат точно такой же, как и при использования цикла и метода append, но кода мы написали меньше.

С помощью включений мы можем создавать и словари:

In [25]:
# Словарь, где в качестве ключей выступают степени
# А в качестве значений — два, возведённая в конкретную степень:

{i: 2**i for i in range(10)}

{0: 1, 1: 2, 2: 4, 3: 8, 4: 16, 5: 32, 6: 64, 7: 128, 8: 256, 9: 512}

Или мы можем применять условия к добавляемым элементам:

In [26]:
# Список только чётных элементов от 0 до 10:

[i for i in range(11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

# Группировка данных

Подключаем библиотеки для работы с таблицами и графиками соответственно:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Считываем новую таблицу по ссылке и сохраняем её в переменную df:

In [3]:
df = pd.read_csv('data/002.csv')

Смотрим на имеющиеся данные:

In [5]:
df.head()

,Year,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5
0,1900,1,29.732192,1.978620,30.939511,2.380663,52.044985,2.718184,50.164903,2.054598,43.016125,2.584435
1,1900,2,34.759909,2.044564,45.206381,2.415747,38.693274,2.553285,42.980751,2.126673,58.212753,2.488130
2,1900,3,33.963835,2.127454,40.888162,2.517027,52.128155,2.242873,37.238511,2.169035,53.150593,2.397679
3,1900,4,34.589675,2.054913,39.816332,2.356675,35.326948,2.497427,39.923438,1.855345,46.979475,2.324768
4,1900,5,39.908020,2.084306,45.551745,2.088117,42.807431,2.338421,48.159986,2.032776,45.456906,2.422898

Добавляем колонки средних диаметра и толщины клеточной стенки:

In [11]:
df['Dmean'] = df[[f'D{i}' for i in range(1, 6)]].mean(axis=1)
df['CWTmean'] = df[[f'CWT{i}' for i in range(1, 6)]].mean(axis=1)

In [12]:
df.head()

,Year,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5,Dmean,CWTmean
0,1900,1,29.732192,1.978620,30.939511,2.380663,52.044985,2.718184,50.164903,2.054598,43.016125,2.584435,41.179543,2.343300
1,1900,2,34.759909,2.044564,45.206381,2.415747,38.693274,2.553285,42.980751,2.126673,58.212753,2.488130,43.970614,2.325680
2,1900,3,33.963835,2.127454,40.888162,2.517027,52.128155,2.242873,37.238511,2.169035,53.150593,2.397679,43.473851,2.290813
3,1900,4,34.589675,2.054913,39.816332,2.356675,35.326948,2.497427,39.923438,1.855345,46.979475,2.324768,39.327174,2.217826
4,1900,5,39.908020,2.084306,45.551745,2.088117,42.807431,2.338421,48.159986,2.032776,45.456906,2.422898,44.376818,2.193304