# Пакеты

In [1]:
import math

In [2]:
import random

In [3]:
import pandas

# Таблицы

In [ ]:
d = {
    'Колонка_1' : [1, 5, 7, 9],
    'Колонка_2' : ['a', 'b', 'c', 'd'],
    'Колонка_3' : [0.1, 0.67, 0.8, 0.23]
}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

   Колонка_1 Колонка_2  Колонка_3
0          1         a       0.10
1          5         b       0.67
2          7         c       0.80
3          9         d       0.23

In [ ]:
df['Колонка_1']

0    1
1    5
2    7
3    9
Name: Колонка_1, dtype: int64

In [ ]:
df.loc[1]

Колонка_1       5
Колонка_2       b
Колонка_3    0.67
Name: 1, dtype: object

In [ ]:
df[df['Колонка_1'] > 6]

   Колонка_1 Колонка_2  Колонка_3
2          7         c       0.80
3          9         d       0.23

In [ ]:
df[(df['Колонка_1'] < 8) & (df['Колонка_3'] > 0.5)]

   Колонка_1 Колонка_2  Колонка_3
1          5         b       0.67
2          7         c       0.80