# Прикладная биологическая статистика и элементы программирования

Михаил Сергеевич Жарков, mzharkov@sfu-kras.ru

## Для чего нужен предмет?

Биологические данные:

![cells](images/cells.png)

Подключаем библиотеку для работы с таблицами:

In [1]:
import pandas as pd

Считываем таблицу из файла:

In [2]:
df = pd.read_csv('data/001.csv')

In [3]:
df

,ШГК,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5
0,736.48,1,60.94,3.41,48.31,3.00,47.41,2.59,45.16,2.98,56.27,3.20
1,736.48,2,46.25,2.88,49.87,2.76,43.09,2.37,57.10,2.98,54.02,3.10
2,736.48,3,43.97,2.60,40.03,2.47,41.99,2.46,45.41,2.68,52.01,2.91
3,736.48,4,43.79,2.72,37.90,2.58,48.53,3.11,45.44,2.47,46.50,3.00
4,736.48,5,46.49,2.37,35.87,2.63,47.12,3.11,46.95,2.56,35.02,2.74
5,736.48,6,44.58,2.47,36.99,2.40,50.88,2.57,44.32,2.77,34.27,2.35
6,736.48,7,39.24,2.58,39.28,2.24,48.80,2.24,36.26,2.78,37.55,2.25
7,736.48,8,43.51,2.57,43.29,2.33,40.92,2.35,35.80,2.56,37.28,2.32
8,736.48,9,43.09,2.78,39.01,2.54,35.39,2.35,36.21,2.77,34.62,2.28
9,736.48,10,42.00,2.67,35.05,2.55,32.26,2.47,35.60,2.46,33.08,2.05
10,736.48,11,40.08,2.57,39.63,2.32,34.98,2.79,42.42,2.03,35.85,1.93
11,736.48,12,37.08,2.78,39.01,2.03,29.62,3.09,38.14,2.03,38.26,1.98
12,736.48,13,35.18,2.88,32.08,2.16,34.76,3.11,39.21,1.92,37.96,2.23
13,736.48,14,30.48,2.88,30.37,2.55,36.90,2.68,35.20,1.82,35.55,2.42
14,736.48,15,24.32,2.78,29.31,2.67,31.98,2.35,26.29,1.82,31.55,2.31
15,736.48,16,21.11,2.67,23.01,2.74,20.05,2.35,25.16,2.14,27.35,2.52
16,736.48,17,16.20,2.99,20.37,3.08,22.01,2.67,20.72,3.32,21.32,3.21
17,736.48,18,14.09,3.41,18.41,3.44,20.89,2.99,19.65,3.86,20.50,3.52
18,736.48,19,14.72,3.52,16.41,3.35,18.13,3.31,16.64,3.00,20.11,3.58
19,736.48,20,13.45,3.31,16.52,3.57,17.06,3.20,12.63,2.67,20.93,3.90
20,736.48,21,13.75,3.25,16.44,3.53,15.63,3.12,14.50,2.99,18.02,4.24
21,736.48,22,12.26,3.15,13.50,2.84,11.79,2.91,10.69,2.99,14.74,3.96
22,736.48,23,10.77,3.00,11.03,2.67,9.18,2.45,8.63,2.35,13.11,3.15

## Самостоятельное обучение

Ресурсы:

* Курс "Программирование на Python": https://stepik.org/course/67/syllabus 

* Канал StatQuest: https://www.youtube.com/c/joshstarmer/videos 

* Книга "Статистика и котики": https://t.me/progbook/2825 

Где писать код:

* Google Colab: https://colab.research.google.com/

## Основы математической логики

### Конъюнкция («И», логическое умножение, and, &)

![and_diagramma](images/and_diagramma.png)

![and_table](images/and_table.png)

In [4]:
df[(df['D1'] > 40) & (df['CWT1'] < 3)]

,ШГК,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5
1,736.48,2,46.25,2.88,49.87,2.76,43.09,2.37,57.10,2.98,54.02,3.10
2,736.48,3,43.97,2.60,40.03,2.47,41.99,2.46,45.41,2.68,52.01,2.91
3,736.48,4,43.79,2.72,37.90,2.58,48.53,3.11,45.44,2.47,46.50,3.00
4,736.48,5,46.49,2.37,35.87,2.63,47.12,3.11,46.95,2.56,35.02,2.74
5,736.48,6,44.58,2.47,36.99,2.40,50.88,2.57,44.32,2.77,34.27,2.35
7,736.48,8,43.51,2.57,43.29,2.33,40.92,2.35,35.80,2.56,37.28,2.32
8,736.48,9,43.09,2.78,39.01,2.54,35.39,2.35,36.21,2.77,34.62,2.28
9,736.48,10,42.00,2.67,35.05,2.55,32.26,2.47,35.60,2.46,33.08,2.05
10,736.48,11,40.08,2.57,39.63,2.32,34.98,2.79,42.42,2.03,35.85,1.93

### Дизъюнкция («ИЛИ», логическое сложение, or, |)

![or_diagramma](images/or_diagramma.png)

![or_table](images/or_table.png)

In [5]:
df[(df['D1'] < 15) | (df['CWT1'] < 2.6)]

,ШГК,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5
4,736.48,5,46.49,2.37,35.87,2.63,47.12,3.11,46.95,2.56,35.02,2.74
5,736.48,6,44.58,2.47,36.99,2.40,50.88,2.57,44.32,2.77,34.27,2.35
6,736.48,7,39.24,2.58,39.28,2.24,48.80,2.24,36.26,2.78,37.55,2.25
7,736.48,8,43.51,2.57,43.29,2.33,40.92,2.35,35.80,2.56,37.28,2.32
10,736.48,11,40.08,2.57,39.63,2.32,34.98,2.79,42.42,2.03,35.85,1.93
17,736.48,18,14.09,3.41,18.41,3.44,20.89,2.99,19.65,3.86,20.50,3.52
18,736.48,19,14.72,3.52,16.41,3.35,18.13,3.31,16.64,3.00,20.11,3.58
19,736.48,20,13.45,3.31,16.52,3.57,17.06,3.20,12.63,2.67,20.93,3.90
20,736.48,21,13.75,3.25,16.44,3.53,15.63,3.12,14.50,2.99,18.02,4.24
21,736.48,22,12.26,3.15,13.50,2.84,11.79,2.91,10.69,2.99,14.74,3.96
22,736.48,23,10.77,3.00,11.03,2.67,9.18,2.45,8.63,2.35,13.11,3.15

### Отрицание («НЕ», not, ~)

![not_diagramma](images/not_diagramma.png)

![not_table](images/not_table.png)

In [6]:
df[~(df['CWT1'] > 2.6)]

,ШГК,№,D1,CWT1,D2,CWT2,D3,CWT3,D4,CWT4,D5,CWT5
2,736.48,3,43.97,2.60,40.03,2.47,41.99,2.46,45.41,2.68,52.01,2.91
4,736.48,5,46.49,2.37,35.87,2.63,47.12,3.11,46.95,2.56,35.02,2.74
5,736.48,6,44.58,2.47,36.99,2.40,50.88,2.57,44.32,2.77,34.27,2.35
6,736.48,7,39.24,2.58,39.28,2.24,48.80,2.24,36.26,2.78,37.55,2.25
7,736.48,8,43.51,2.57,43.29,2.33,40.92,2.35,35.80,2.56,37.28,2.32
10,736.48,11,40.08,2.57,39.63,2.32,34.98,2.79,42.42,2.03,35.85,1.93

## Основы алгоритмов

Алгоритм – последовательность команд.

### Переменные

Целые числа

In [7]:
a = 1
b = 2

In [8]:
print('a + b = ', a + b)
print('a - b = ', a - b)
print('a * b = ', a * b)
print('a / b = ', a / b)
print('b ** 2 = ', b ** 2)

a + b =  3
a - b =  -1
a * b =  2
a / b =  0.5
b ** 2 =  4

In [9]:
c = a + b
print('c = ', c)

c =  3

Действительные числа (числа с плавающей точкой)

In [10]:
d = 10.3
f = -0.7

In [11]:
print('d + f = ', d + f)
print('d - f = ', d - f)
print('d * f = ', d * f)
print('d / f = ', d / f)
print('f ** 2 = ', f ** 2)

d + f =  9.600000000000001
d - f =  11.0
d * f =  -7.21
d / f =  -14.714285714285717
f ** 2 =  0.48999999999999994

In [12]:
e = d ** f
print(e)

0.19544021994199468

Задание: Сложите 0.1 и 0.2. Выведете результат на экран.

Строки

In [13]:
s1 = 'Текст'
s2 = 'Text'

In [14]:
print(s1 + s2)
print(s1 + ' ' + s2)
print(s1 * 5)

ТекстText
Текст Text
ТекстТекстТекстТекстТекст

In [15]:
s1[0]

'Т'

In [16]:
s1[0] = 'O'

TypeError: 'str' object does not support item assignment

In [ ]:
s1.replace('Т', 'О')

'Оекст'

Списки

In [17]:
l1 = [17, 1,  8, 3, 4, 89, 12, 4, 11, 34]
l2 = [90.5, 50.6, -78.16]

ugly_l = [1, 'str', 0.44, [1, 5, 3]]

In [18]:
print(l1 + l2)

[17, 1, 8, 3, 4, 89, 12, 4, 11, 34, 90.5, 50.6, -78.16]

In [ ]:
print(l1*5)

Срезы списков:

имя_списка[начало (включительно): конец (не включительно): шаг]

In [19]:
print('Первый элемент:', l1[0])
print('Последний элемент:', l1[-1])
print('Всё, после четвёртого элемента (включая четвёртый элемент)', l1[3:])
print('Всё, до шестого элемента (не включая шестой элемент)', l1[:5])
print('Всё с четвёртого по шестой элемент:', l1[3:5])
print('Каждый второй элемент списка:', l1[::2])
print('Каждый второй элемент списка, кроме первого и последнего:', l1[1:-1:2])

Первый элемент: 17
Последний элемент: 34
Всё, после четвёртого элемента (включая четвёртый элемент) [3, 4, 89, 12, 4, 11, 34]
Всё, до шестого элемента (не включая шестой элемент) [17, 1, 8, 3, 4]
Всё с четвёртого по шестой элемент: [3, 4]
Каждый второй элемент списка: [17, 8, 4, 12, 11]
Каждый второй элемент списка, кроме первого и последнего: [1, 3, 89, 4]

In [20]:
sorted(l1)

[1, 3, 4, 4, 8, 11, 12, 17, 34, 89]

Словари

In [1]:
name_to_age = {
    'Вася': 41,
    'Петя': 94,
    'Коля': 19
}

year_to_trw = {
    1900: 770,
    1901: 2400,
    1902: 3400,
    1903: 800,
}

In [2]:
name_to_age['Вася']

41

In [3]:
year_to_trw[1902]

3400