# Полезные функции

**Функция определения типа: type(переменная)**

In [1]:
name = 'Иван'
age = 34

In [3]:
type(name)

str

In [4]:
type(age)

int

Если использовать print, то вывод будет немного другим

In [5]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

**Функции преобразования типа переменных: int(), float(), str()**

Пусть у нас число задано строковой переменной:

In [6]:
age = '56'

Если просто вывести переменную, то мы увидим кавычки:

In [13]:
age

'56'

А если через print - нет:

In [14]:
print(age)

56

Строки нельзя складывать с числами:

In [10]:
age + 1

TypeError: can only concatenate str (not "int") to str

Но если преобраззвать строку в число - можно:

In [17]:
int_age = int(age)

In [18]:
int_age + 1

57

Можем сменить тип на float:

In [12]:
float(age)

56.0

Или вернуться обратно к строке:

In [19]:
str(int_age)

'56'

**Функция создания диапазона range(целое_число)**

In [20]:
r = range(10)

Если просто вывести r, то увидим лишь:

In [21]:
r

range(0, 10)

Чтобы увидеть элементы диапазона, нужно преобразовать его в список:

In [22]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(3, 10, 2))

[3, 5, 7, 9]

# Математическая логика

Булевы переменные:

In [24]:
2 < 3

True

In [25]:
2 > 3

False

In [26]:
val = 2 < 3

In [27]:
val

True

In [28]:
2 == 3

False

In [29]:
i = 10

print(i == 10)
print(i < 5)
print(i > 5)

True
False
True

## Логическое "И"

In [34]:
(1 < 10) and (10 < 100)

True

(то же самое можно сделать и без and)

In [35]:
1 < 10 < 100

True

In [43]:
print(name, int_age)

Иван 56

In [41]:
(int_age == 56) and (name == 'Иван')

True

In [42]:
(int_age == 56) and (name == 'Владислав')

False

In [44]:
(int_age < 10) and (name == 'Владислав')

False

## Логическое "ИЛИ"

In [45]:
(1 < 10) or (10 < 1)

True

In [46]:
(1 > 10) or (10 < 1)

False

In [48]:
(1 < 10) or (10 > 1)

True

## Логическое "НЕ"

In [51]:
(1 < 10)

True

In [50]:
not (1 < 10)

False

In [53]:
not (10 < 1)

True

# Ещё немного целочисленных операций:

Остаток от деления:

In [30]:
5 % 2

1

In [31]:
10 % 2

0

Целочисленное деление:

In [32]:
5 // 2

2

In [33]:
10 // 5

2

# Ветвления

![if_schema](images/if_schema.png)

In [54]:
a = 1235

In [57]:
if a % 2 == 0:
    print('Чётное')
else:
    print('Нечётное')

Нечётное

In [61]:
if (a > 100) and (a % 5 == 0):
    print('a - Большое и делится нацело на 5')

a - Большое и делится нацело на 5

In [62]:
if (a > 100) or (a < -100):
    print('a - большое по модулю')

a - большое по модулю

In [63]:
if not (a == 100):
    print('a не равняется сотне')

a не равняется сотне

# Циклы

![for_schema](images/for_schema.png)

In [5]:
for i in range(10):
    print('Шаг', i)

Шаг 0
Шаг 1
Шаг 2
Шаг 3
Шаг 4
Шаг 5
Шаг 6
Шаг 7
Шаг 8
Шаг 9

In [21]:
names = ['Фёдор', 'Николай', 'Семён']

for name in names:
    print(name)

Фёдор
Николай
Семён

In [22]:
for i, name in enumerate(names):
    print(i, name)

0 Фёдор
1 Николай
2 Семён

In [26]:
name_to_age = {
    'Иван': 42,
    'Степан': 13,
    'Игорь': 67
}

for name in name_to_age:
    print(name, ':', name_to_age[name], 'лет')

Иван : 42 лет
Степан : 13 лет
Игорь : 67 лет

# Функции

![def_schema](images/def_schema.png)

In [35]:
a = 3
b = 10

In [37]:
def pow(x: int, y: int) -> int:
    """
    Возводит целое число x в степень y
    """
    res = x ** y
    return res

c = pow(a, b)
print('c =', c)

c = 59049

In [38]:
d = pow(2, b)
print('d =', d)

d = 1024

In [39]:
e = pow(a, -5)
print('e =', e)

e = 0.00411522633744856

In [65]:
f = pow(25, 0.5)
print('f =', f)

f = 5.0

Напишите функцию is_even, которая принимает на вход целое число, на выход выдаёт True если число чётное, и False, если число нечётное

Создайте список целых чисел и в цикле выведите на экран только чётные числа из этого спика