## Основы Python

### Переменные

**Целые числа**

Объявление переменных

In [2]:
a = 1
b = 2

Базовые операции

In [3]:
print('a + b = ', a + b)
print('a - b = ', a - b)
print('a * b = ', a * b)
print('a / b = ', a / b)
print('b ** 2 = ', b ** 2)

a + b =  3
a - b =  -1
a * b =  2
a / b =  0.5
b ** 2 =  4

In [4]:
c = a + b
print('c = ', c)

c =  3

Модуль числа

In [5]:
abs(-5)

5

Сравнение

* $<$ : меньше
* $>$ : больше
* $<=$ : меньше либо равно
* $>=$ : больше либо равно
* $==$ : равно
* $!=$ : не равно

In [6]:
a < b

True

In [7]:
a >= b

False

In [8]:
a <= b <= c

True

In [9]:
a == 1

True

In [11]:
b != 2

False

**Булевы переменные (логические)**

In [12]:
True

True

In [13]:
False

False

**Действительные числа (числа с плавающей точкой)**

In [34]:
d = 10.3
f = -0.7

In [35]:
print('d + f = ', d + f)
print('d - f = ', d - f)
print('d * f = ', d * f)
print('d / f = ', d / f)
print('f ** 2 = ', f ** 2)

d + f =  9.600000000000001
d - f =  11.0
d * f =  -7.21
d / f =  -14.714285714285717
f ** 2 =  0.48999999999999994

Возведение в степень:

In [36]:
e = d ** f
print(e)

0.19544021994199468

Округление: по-умолчанию в Python идёт округление к ближайшему чётному

In [41]:
round(0.1), round(0.5), round(0.9)

(0, 0, 1)

Задание: Сложите 0.1 и 0.2. Выведете результат на экран.

**Списки**

In [22]:
l1 = [1, 2, 3]
l2 = [90.5, 50.6, -78.16, 0.0, 67.0, -100.3]

ugly_l = [1, 'str', 0.44, [1, 5, 3]]

Индексация

In [16]:
l1[0]

1

Сложение

In [15]:
print(l1 + l2)

[1, 2, 3, 90.5, 50.6, -78.16]

Умножение

In [19]:
print([1]*5)

[1, 1, 1, 1, 1]

Добавление элемента в список:

In [20]:
l1.append(4)
print(l1)

[1, 2, 3, 4]

Срезы списков:

имя_списка[начало (включительно): конец (не включительно): шаг]

In [23]:
print('Первый элемент:', l2[0])
print('Последний элемент:', l2[-1])
print('Всё, после четвёртого элемента (включая четвёртый элемент)', l2[3:])
print('Всё, до шестого элемента (не включая шестой элемент)', l2[:5])
print('Всё с четвёртого по шестой элемент:', l2[3:5])
print('Каждый второй элемент списка:', l2[::2])
print('Каждый второй элемент списка, кроме первого и последнего:', l2[1:-1:2])

Первый элемент: 90.5
Последний элемент: -100.3
Всё, после четвёртого элемента (включая четвёртый элемент) [0.0, 67.0, -100.3]
Всё, до шестого элемента (не включая шестой элемент) [90.5, 50.6, -78.16, 0.0, 67.0]
Всё с четвёртого по шестой элемент: [0.0, 67.0]
Каждый второй элемент списка: [90.5, -78.16, 67.0]
Каждый второй элемент списка, кроме первого и последнего: [50.6, 0.0]

Сортировка:

In [24]:
sorted(l2)

[-100.3, -78.16, 0.0, 50.6, 67.0, 90.5]

Минимальный элемент списка:

In [25]:
min(l2)

-100.3

Максимальный элемент списка:

In [26]:
max(l2)

90.5

**Строки**

In [2]:
s1 = 'Текст'
s2 = 'Text'

In [3]:
print(s1 + s2)
print(s1 + ' ' + s2)
print(s1 * 5)

ТекстText
Текст Text
ТекстТекстТекстТекстТекст

**Словари**

In [27]:
name_to_age = {
    'Вася': 41,
    'Петя': 94,
    'Коля': 19
}

year_to_trw = {
    1900: 770,
    1901: 2400,
    1902: 3400,
    1903: 800,
}

Получение элемента словаря по ключу:

In [28]:
name_to_age['Вася']

41

In [29]:
year_to_trw[1902]

3400

Добавление элемента в словарь:

In [30]:
name_to_age['Вова'] = 30

In [31]:
name_to_age

{'Вася': 41, 'Петя': 94, 'Коля': 19, 'Вова': 30}